.env
.data
node_modules
package-lock.json
googleads.yaml
txt/bonusworkers.txt
txt/currentrecruitingHIT.txt
R/.RData
R/.Rhistory
R/allChatFiles.csv
*.swp
*.swo
*.log
.Rhistory
*.icloud
.idea/*
.DS_Store
.Rproj.user
token.json
