.radio-btn {
    display: flex;
    padding: 1%;
}

.form__form-group-radio-panel-wrap {
    width: 100%;
}

.radio-btn__radio {
    float: left;
}

.radio-btn__label {
   width: 100%;
   margin-left: -75%;
   float: right;
   text-align: left; 
}

.radio-panel {
    margin-left: 5%; 
}

