/* Fix user-agent */

* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background: black;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Login Page */

.login.page {
  background-color: #000;
}

.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
}

.login.page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}

.login.page .title {
  font-size: 200%;
}

.login.page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
  color: #fff;
  font-weight: 100;
}

/* Chat page */

.chat.page {
  display: none;
  background-color: white;
}

/* Font */

.messages {
  background: white;
  font-size: 150%;
}

.inputMessage {
  font-size: 100%;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}

/* Messages */

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
  color: gray;
}

.username {
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* Check In */
.chatArea {
  float: left;
  height: 100%;
  width:  100%; /* change to 75% for static side bar checkin*/
  padding-bottom: 60px;
}

.checkinArea {
  float: left;  
  height: 25%;
  width: 25%;
  background-color: white;
  top: 0;
}

.wrap {
  display: table-cell;
  vertical-align: middle;
}
.wrap .RadioBtnsWrap {
  display: inline-block;
  position: relative;
  width: 140px;
}
.wrap .RadioBtnsWrap label {
  display: inline-block;
  position: relative;
  margin-left: 40px;
  text-align: left;
  height: 40px;
  line-height: 40px;
  min-width: 200px;
  font-size: 16px;
}
.wrap .RadioBtnsWrap label:not(:nth-of-type(1)) {
  margin-top: 17px;
}
.wrap .rbcheckin{
  -webkit-appearance: none;
  height: 0;
  width: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
}
.wrap .RadioBtnsWrap label::after {
  content: 'x';
  color: transparent;
  position: absolute;
  left: -44px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 10px;
  height: 10px;
  background-color: #FFFFFF;
  display: inline-block;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-color: #79C5FF;
  border-style: solid;
  border-width: 8px;
  transition: background-color 0.6s, border-width 0.4s, width 0.6s, height 0.6s, left 0.6s;
  -webkit-transition: background-color 0.6s, border-width 0.4s, width 0.6s, height 0.6s, left 0.6s;
  -webkit-box-shadow: 0px 2px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 3px -1px rgba(0, 0, 0, 0.75);
}
.wrap .rbcheckin:checked + label::after {
  background-color: #c5416e;
  width: 20px;
  height: 20px;
  left: -47px;
  border-width: 6px;
  -webkit-box-shadow: 0px 2px 3px -1px rgba(0, 0, 0, 0.75), inset 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 3px -1px rgba(0, 0, 0, 0.75), inset 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
}
.wrap .RadioBtnsWrap label:not(:nth-of-type(1))::before {
  content: '';
  position: absolute;
  left: -35px;
  height: 57px;
  width: 8px;
  display: inline-block;
  background-color: #79C5FF;
  -webkit-box-shadow: 1px 4px 2px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 4px 2px 1px rgba(0, 0, 0, 0.25);
}
.wrap .RadioBtnsWrap label::before {
  bottom: 28px;
}
.wrap .rbcheckin:checked + label + input + label::before {
  height: 52px;
  transition: height .0s linear .3s;
  -webkit-transition: height .0s linear .3s;
}



.rb {
  padding: 16px 0;
  text-align: center;
  background: rgba(255,255,255,.03);
  border-radius: .3em;
}

.rb-tab {
  display: inline-block;
  position: relative;
  width: 10%;
}

.rb-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: .5em;
  color: black;
}

.rb-spot {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  border: 2px solid gray;
  border-radius: 100%;
  cursor: pointer;
  transition: ease .5s;
}

.rb-tab-active .rb-spot {
  
  border: 2px solid rgba(0,0,255,.6);
}

/* Submit Button */
.button-box {
  padding: 10px 0;
  text-align: center;
}

button {
  display: inline-block;
  width: 80%;
  margin-top: 1.2em;
  padding: 1em;
  max-width: 220px;
  font-size: .9em;
  color: #D42D78;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .15em;
  background: white;
  border: none;
  outline: none;
  border-radius: 5em;
  box-shadow: 0 15px 20px -10px rgba(0, 0, 0, 0.3);
  transition: 
    color 0.6s, 
    box-shadow 0.3s, 
    transform 0.3s;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 3px 5px -5px rgba(0, 0, 0, 0.3);
  color: #6f6f6f;
}

.popup {
  display: none;
  width: 50%;
  height: 50%;
  position: absolute;
  z-index: 999;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-color: gray;
  border-style: solid;
  border-width: 2px;
  border-radius: 0.5rem;
}
.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  background-color: white;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
}


/* Input */

.inputMessage {
/*   background-color: #ddd; */
/*   color: #fff; */
  bottom: 0;
  height: 60px;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: absolute;
  right: 0;
  width: 100%;
}